@font-face {
    src: url(../font/trebuchetms.ttf);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    src: url(../font/trebuc.ttf);
    font-family: trebuchet;
    src: url(../font/trebuchetms.ttf);
    font-family: trebuchet;
    src: url(../font/trebuchetms.ttf);
    font-family: trebuchet;
    src: url(../font/trebuchetms.ttf);
    font-family: trebuchet;
}


.about h2{
    font-family: 'Oswald',
    sans-serif;
    color: #0C4DA2;
    font-size: 25px;
} 

.about img {
    width: 150px;
}

.slide-history{
    margin: 5% auto;
}

/* WE DO MORE */

.we {

    background-size: cover;
    position: relative;
    overflow: hidden;
    transition: transform 1.5s;
    cursor: pointer;
    background-position: center;
}

.we:hover {
    transform: scale(1.12);
}

.company-image{
    background-image: url(../img/apollo.jpg);
}

.company-csr {
    background-image: url(../images/hand.jpeg);
}

.company-media {
    background-image: url(../img/adult.jpg);
}

.company-product {
    background-image: url(../images/auto.jpg);
}