
.header-image11 {
    width: 100%;
    height: 90vh;
    background-image: url(../images/travell.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
}

.header-image1 {
    width: 100%;
    height: 90vh;
    background-image: url(../images/baby.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.header-image2 {
    width: 100%;
    height: 90vh;
    background-image: url(../images/marine.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.header-image3 {
    width: 100%;
    height: 90vh;
    background-image: url(../images/fruit-big.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.header-image::before{
    content: '';
    position: absolute;
    height: 90vh;
    background-color: rgba(0, 0, 0, 0.2);
    width: 100%;
    top: 0%;
    right: 0;
    left: 0;
    bottom: 0;
}

/* JOB PAGE */
.job-box1 {
    margin-top:-30%; 
    margin-bottom: 10%;
    border-radius: 20px;
    -webkit-box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.25);
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.25);
    background-color: white;
}

